In [1]:
import os
import pandas as pd

current_directory = os.getcwd()
print(current_directory)

C:\Users\hlmcd\Desktop\Python

In [5]:
new_directory_path = r'C:\Users\hlmcd\Desktop'
os.chdir(new_directory_path)

In [6]:
updated_dir = os.getcwd()
print(updated_dir)

C:\Users\hlmcd\Desktop

In [13]:
file_path = r"C:\Users\hlmcd\Downloads\Week13Assignment.txt"

try:
    with open(file_path, 'r') as file:
        content = file.read()
        print(content)
except FilenotFoundError:
    print(f"file '{file_path}' not found.")
except IOError:
    print('An error occurred while reading this file')

Name, Age, Gender, BloodPressure, Temperature
John Doe, 45, Male, 120/80, 36.8
Jane Smith, 32, Female, 130/85, 37.2
Alice Johnson, 50, Female, 140/90, 36.5
Michael Brown, 55, Male, 135/82, 37.0
Emily Wilson, 40, Female, 125/78, 36.9

In [15]:
df = pd.read_csv(file_path)

In [16]:
print(df)

            Name   Age   Gender  BloodPressure   Temperature
0       John Doe    45     Male         120/80          36.8
1     Jane Smith    32   Female         130/85          37.2
2  Alice Johnson    50   Female         140/90          36.5
3  Michael Brown    55     Male         135/82          37.0
4   Emily Wilson    40   Female         125/78          36.9

In [17]:
print(df.columns)

Index(['Name', ' Age', ' Gender', ' BloodPressure', ' Temperature'], dtype='object')

In [20]:
#Average Age
average_age = df[' Age'].mean()
print(average_age)

44.4

In [23]:
#Number of Male and Female PTs
male = (df[' Gender'] == ' Male').sum()
female = (df[' Gender'] == ' Female').sum()
print(f'the number of mle patients is {male} and the number of female patients is {female}.')

the number of mle patients is 2 and the number of female patients is 3.

In [24]:
#Maximum BP
max_bp = max(df[' BloodPressure'])
print(f"The highest blood pressure is {max_bp}.")

The highest blood pressure is  140/90.

In [25]:
#Minimum BP
low_bp = min(df[' BloodPressure'])
print(f'Thelowest blood pressure is {low_bp}.')

Thelowest blood pressure is  120/80.

In [26]:
#Average Body Temp
average_temp = df[' Temperature'].mean()
print(average_temp)

36.88